---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}

    <ul class="post-list">
      {% for post in site.posts %}
      <li>
	  {% assign date_format = site.minima.date_format | default: "%b %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>     
 
          {{ post.excerpt }} 
	  {% if post.imgage %}
	    <img src="{{ site.baseurl }}{{ post.image }}" height="200">
	  {% endif %}
      </li>
      {% endfor %}
    </ul>


  {% endif %}

</div>
